<header class="nav">
  <div class="inner">
    <a class="logo" [routerLink]="['/']">SHOP.CO</a>

    <div class="search">
      <input
        class="searchInput"
        type="text"
        [value]="searchText()"
        (input)="onSearchInput($any($event.target).value)"
        (keydown.enter)="submitSearch()"
        placeholder="Search for products..."
      />

      <button class="searchBtn" type="button" (click)="submitSearch()">🔎</button>
    </div>

    <nav class="links">
      <a [routerLink]="['/']">Products</a>
      <a [routerLink]="['/']">About Us</a>
    </nav>

    <div class="right">
      <a class="cart" [routerLink]="['/cart']">🛒</a>

      @if (!isAuthenticated()) {
        <!-- Shared UI Button used here -->
        <ui-button [text]="'Log in'" [type]="'button'" [routerLink]="['/login']"></ui-button>
      } @else {
        <button class="profileBtn" type="button" (click)="goProfile()">
          <span class="avatar">
            @if (currentUser()?.imageUrl) {
              <img [src]="currentUser()?.imageUrl!" alt="Profile" />
            } @else {
              <span class="initials">
                {{ (currentUser()?.firstName?.[0] ?? 'U') + (currentUser()?.lastName?.[0] ?? '') }}
              </span>
            }
          </span>
        </button>
      }
    </div>
  </div>
</header>
