.nav {
  position: sticky;
  top: 0;
  z-index: 50;
  background: #fff;
}

.inner {
  display: flex;
  align-items: center;
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 32px;
  height: 64px;
}

navbar-logo {
  margin-right: auto;
  flex-shrink: 1;
}

navbar-search {
  margin-right: auto;
  flex-shrink: 1;
}

.links {
  display: flex;
  align-items: center;
  gap: 28px;
  flex-shrink: 1;
  margin-right: 16px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}