<footer class="footer" id="footer">
  <div class="inner">

    <div class="brand">
      <navbar-logo></navbar-logo>
      <p class="tagline">We have items that suits your style and which you're proud to own. From women to men.</p>
      <footer-support></footer-support>
      <footer-socials></footer-socials>
    </div>

    <footer-link-col
      title="COMPANY"
      [links]="companyLinks"
    ></footer-link-col>

    <footer-link-col
      title="USER"
      [links]="userLinks"
    ></footer-link-col>

  </div>

  <footer-bottom></footer-bottom>
</footer>
