<div class="socials">
  <a class="social" href="https://twitter.com" target="_blank" aria-label="Twitter">
    <span class="material-icons">close</span>
  </a>
  <a class="social" href="https://facebook.com" target="_blank" aria-label="Facebook">
    <span class="material-icons">facebook</span>
  </a>
  <a class="social" href="https://instagram.com" target="_blank" aria-label="Instagram">
    <span class="material-icons">photo_camera</span>
  </a>
  <a class="social" href="https://github.com" target="_blank" aria-label="GitHub">
    <span class="material-icons">code</span>
  </a>
</div>
